<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Desenvolvedora</title>
    <link rel="stylesheet" href="../css/loginForm.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="page">
        <div class="form">
            <div class="left">
                <img src="../img/dark-logo.png" alt="Logo" id="logo" />
                <h1>Redefinir a Senha</h1>
            </div>
            <div class="right">
                <form class="formContainer" id="form">
                    <div class="centered">
                        <div class="formStep" id="step1">
                            <div class="sepElements">
                                <label for="email">E-mail</label>
                                <input id="email" class="input" type="email" placeholder="Seu e-mail" required />
                            </div>
                        </div>

                        <div class="formStep" id="step2">
                            <div class="sepElements">
                                <label for="secureCode">Código de verificação</label>
                                <input id="secureCode" class="input" type="tel" placeholder="Código recebido no e-mail" required />
                                <label for="newPass">Nova Senha</label>
                                <input id="newPass" class="input" type="password" placeholder="Escolha uma nova senha" required />
                                <label for="CNewPass">Confirme a nova senha</label>
                                <input id="CNewPass" class="input" type="password" placeholder="Digite a nova senha novamente" required />
                            </div>
                        </div>
                    </div>

                    <div class="sepButtons">
                        <button class="btn destructive" id="prevButton" type="button" style="display: none;">Voltar</button>
                        <button class="btn" id="nextButton" type="button">Próximo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../js/formModel.js"></script>
    <script src="../js/stars.js"></script>  
</body>
</html>