<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/popup.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="tableSettings">
        <div class="titleBar">
            <div class="tOptions">
                <p>Carrinho</p>
                <button class="closeTab" onclick="closeModal()">×</button>
            </div>
        </div>
        <div class="content">
            <div class="information-bar">

            </div>
            <div class="navPage">
                <form>
                    <div 
                        class="pageContainer" 
                    >
                        <ul>
                            <li>
                                <span class="material-symbols-outlined">account_circle</span>
                                <p>Nome do usuário</p> 
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>