<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/popup.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="tableSettings">
        <div class="titleBar">
            <div class="tOptions">
                <p>Let's go Pikachu! (Indisponível)</p>
                <button class="closeTab" onclick="closeModal()">×</button>
            </div>
        </div>
        <div class="content">
            <div 
                class="pageContainer" 
            >
                <p>Nome do jogo</p>
                <input id="name" class="input" type="text" />
                <p>Descrição</p>
                <input id="name" class="input" type="text" />
            </div>
        </div>
    </div>
</body>
</html>