<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Twitter</title>
    <link rel="stylesheet" href="../css/tela_usuario.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="container">
        <!-- Conteúdo principal -->
        <main class="main-content">
            <header class="profile-header">
                <div class="cover-photo">
                    <img src="../img/banner.jpg" alt="Banner" class="cover-photo"></img>
                </div>
                <div class="profile-info">
                    <img src="../img/profile.png" alt="Foto de perfil" class="profile-photo">
                    <div class="user-details">
                        <h1>Lucimar Agostinho</h1>
                        <p>@ministerio_etrom</p>
                    </div>
                </div>
            </header>

            <div class="posts">
                <div class="post">
                    <h3>Biblioteca de Jogos</h4>
                </div>
                <div>
                    <div 
                    class="gameCard"
                    onclick="changeSitePage('views/tela_jogoSelecionado.html', 'Comprar Jogo')"
                >
                    <div class="title">
                        <p>SUPER MARIO BROS</p>
                    </div>

                    <div class="banner">
                        <img id="banner" src="../img/product.jpeg" alt="Banner do jogo" />
                    </div>
                </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
